<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loom" type="Loom.Configuration.LoomSection, RapierLoom" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <loom>
    <assembly name="Loom.UnitTest">
      <type name="Loom.UnitTests.AspectConstructors.G">
        <apply-aspect type="Loom.UnitTests.AspectConstructors.TestAspect">
          <parameter type="Boolean">True</parameter>
          <parameter type="Byte">1</parameter>
          <parameter type="SByte">-2</parameter>
          <parameter type="Int16">-3</parameter>
          <parameter type="UInt16">True</parameter>
          <parameter type="Int32">True</parameter>
          <parameter type="UInt32">True</parameter>
          <parameter type="Int64">True</parameter>
          <parameter type="UInt64">True</parameter>
          <parameter type="Single">True</parameter>
          <parameter type="Double">True</parameter>
          <parameter type="Loom.UnitTests.AspectConstructors.TestAspect.tenum">Second</parameter>
          <parameter type="Type">Loom.UnitTests.AspectConstructors.TestAspect</parameter>
        </apply-aspect>
      </type>
    </assembly>
  </loom>
</configuration>
