<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loom" type="Loom.Configuration.LoomSection, RapierLoom" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <loom>
    <assembly name="Loom.UnitTests">
      <type name="Loom.UnitTests.AspectConstructors.G">
        <apply-aspect type="Loom.UnitTests.AspectConstructors.TestAspect">
          <parameter type="System.Boolean">True</parameter>
          <parameter type="byte">1</parameter>
          <parameter type="System.SByte">-2</parameter>
          <parameter type="short">-3</parameter>
          <parameter type="System.UInt16">4</parameter>
          <parameter type="int">-5</parameter>
          <parameter type="System.UInt32">6</parameter>
          <parameter type="System.Int64">-7</parameter>
          <parameter type="System.UInt64">8</parameter>
          <parameter type="float">9,0</parameter>
          <parameter type="double">-10,0</parameter>
          <parameter type="Loom.UnitTests.AspectConstructors.TestAspect+tenum">Second</parameter>
          <parameter type="System.Type">Loom.UnitTests.AspectConstructors.TestAspect</parameter>
          <parameter type="char">c</parameter>
          <parameter type="string">foo</parameter>
        </apply-aspect>
      </type>
      <type name="Loom.UnitTests.AspectConstructors.H">
        <apply-aspect type="Loom.UnitTests.AspectConstructors.TestAspect">
           <parameter type="int[]">
             <element>1</element>
             <element>2</element>
             <element>3</element>
             <element>4</element>
             <element>5</element>
             <element>6</element>
           </parameter>
        </apply-aspect>
      </type>
    </assembly>
  </loom>
</configuration>
