<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loom" type="Loom.Configuration.LoomSection, RapierLoom" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
  </configSections>
  <loom>
    <assembly name="SimpleTracingInstead">
      <type name="SimpleTracingInstead.IMyClass">
        <apply-aspect type="SimpleTracingInstead.TracingAspect"/>
      </type>
    </assembly>
  </loom>
</configuration>